@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

html{
    font-size :130%;
    
}

#MainDiv{
    width: 100vw;
    min-height:100vh;
    margin: auto;
    display: grid;
    place-items: center;
    background-color:rgb(245, 249, 250);
}

#InnerDiv{
    place-items: center;
    height: 50vh;
    width: 50vw;
    background-color:rgb(223, 231, 232);
    padding:2rem 7rem;
    border-radius:1rem;
    box-shadow:0 1rem 1rem rgba(0,0,0,4);
    margin-top:1rem;
}

#contactBar{
    width: 100vw;
    min-height:10vh;
    margin-bottom:0px;
    display: grid;
    place-items:center;
    background-color:rgb(162, 227, 89);
}

#Vote{
    color: dimgray;
}

#anchor1{
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #0c0200;
    background-color: #e5aa1d;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.25s;
}

#anchor1:hover{
    background-color: goldenrod;
    cursor: pointer;
    padding:2rem 4rem;
}
#text1{
    margin-bottom: 45px;
}

#anchor2{
    margin-top: 1vh;
    text-decoration: none;
    text-transform: uppercase;
    color: #0c0200;
    background-color:#8ff1f1e0;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.25s;
}

#anchor2:hover{
    background-color:#8ff1f1e0;
    cursor: pointer;
    padding:2rem 4rem;
    
}